@tailwind base;
@tailwind components;
/* Tokens */
@layer base {
  [data-theme="default"] {
    --foreground: rgba(0, 0, 0, 1);
    --background: rgba(255, 255, 255, 1);
    --card: rgba(0, 0, 0, 1);
    --cardForeground:rgba(191, 72, 0, 1);
    --primary: rgba(31, 169, 70, 1);
    --secondary: rgba(106, 96, 84, 1);
    --destructive: rgba(204, 0, 0, 1);
    --destructiveForeground: rgba(217, 217, 217, 1);
    --border: rgba(31, 169, 70, 1);
    --inputColor: rgba(37, 99, 235, 1);
    --radius: 0;
  }
  [data-theme="global"] {
    --foreground: rgba(0, 0, 0, 1);
    --background: rgba(252, 252, 252, 1);
    --card: rgba(252, 252, 252, 1);
    --cardForeground: rgba(0, 0, 0, 1);
    --primary: rgba(11, 56, 88, 1);
    --secondary: rgba(233, 231, 212, 1);
    --muted: rgba(217, 217, 217, 1);
    --destructive: rgba(204, 0, 0, 1);
    --destructiveForeground: rgba(255, 255, 255, 1);
    --border: rgba(0, 0, 0, 1);
    --ring: rgba(37, 99, 235, 1);
    --inputColor: rgba(0, 0, 0, 1);
    --radius: 0;
  }
  [data-theme="grey-backdrop"] {
    --foreground: rgba(0, 0, 0, 1);
    --background: rgba(228, 228, 236, 1);
    --card: rgba(0, 0, 0, 1);
    --cardForeground: rgba(191, 72, 0, 1);
    --primary: rgba(31, 169, 70, 1);
    --secondary: rgba(106, 96, 84, 1);
    --destructive: rgba(204, 0, 0, 1);
    --destructiveForeground: rgba(217, 217, 217, 1);
    --border: rgba(31, 169, 70, 1);
    --inputColor: rgba(37, 99, 235, 1);
    --radius: 0;
  }
  :root {
    /* shadcn theme */
    /* Default background color of <body />...etc */
    --foreground: rgba(0, 0, 0, 1);
    --background: rgba(252, 252, 252, 1);
    /*--background: rgba(0, 0, 0, 1);*/
    /* Background color for <Card /> */
    --card: rgba(252, 252, 252, 1);
    --cardForeground: rgba(0, 0, 0, 1);

    /* Primary colors for <Button /> */
    --primary: rgba(11, 56, 88, 1);
    --primaryForeground: rgba(252, 252, 252, 1);

    /* Secondary colors for <Button /> */
    --secondary: rgba(233, 231, 212, 1);
    --secondaryForeground: rgba(252, 252, 252, 1);
    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: rgba(217, 217, 217, 1);
    --mutedForeground: rgba(217, 217, 217, 1);

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: rgba(204, 0, 0, 1);
    --destructiveForeground: rgba(255, 255, 255, 1);

    --border: rgba(0, 0, 0, 1);
    --ring: rgba(37, 99, 235, 1);
    --inputColor: rgba(0, 0, 0, 1);
    --popover: rgba(252, 252, 252, 1);
    --popoverForeground: rgba(0,0,0,1);
    /* Border radius for card, input and buttons */
    --radius: 0rem;

    --font-size-fine: 0.8rem; /* text-xs */
    --font-size-copy: 0.9rem; /* text-base */
    --font-size-lead: 1.125rem; /* text-lg */
    --font-size-mid: 1.5rem;
    --font-size-heading: 2rem; /* text-2xl */
    --font-size-display: 3rem; /* text-4xl */
    --font-size-oversize: 5rem;
    --color-shop-pay: #5a31f4;
    --height-nav: 5rem;
    --screen-height: 100vh;
    --screen-height-dynamic: 100vh;
    --gutter: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;

    --shop-pay-button-width: 100%; /* Sets the width for the shop-pay-button web component */
    --shop-pay-button-height: 39px; /* Sets the width for the shop-pay-button web component */
    --shop-pay-button-border-radius: 0x; /* Sets the width for the shop-pay-button web component */

    /* @apply px-4 md:px-6 lg:px-8 xl:px-10;*/
    /* sm */
    @media (min-width: 32em) {  }
    /* 'md' */
    @media (min-width: 48em) {
      --height-nav: 6rem;
      --font-size-heading: 2.25rem; /* text-4xl */
      --font-size-display: 3.75rem; /* text-6xl */
      --font-size-oversize: 6rem;
      --gutter: 1.5rem;
      --gutter-lg: 2rem;
      --gutter-xl: 2.5rem;

    }
    /* lg */
    @media (min-width: 64em) {
      --gutter: 2rem;
      --gutter-lg: 2.5rem;
      --gutter-xl: 3rem;
    }
    /* xl */
    @media (min-width: 80em) {
      --gutter: 2.5rem;
      --gutter-lg: 3rem;
      --gutter-xl: 3.5rem;
    }

    @supports (height: 100svh) {
      --screen-height: 100svh;
    }
    @supports (height: 100dvh) {
      --screen-height-dynamic: 100dvh;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-offset-4;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*:root {*/
/*  !*--color-primary: 20 20 20; !* Text, buttons, etc. *!*!*/
/*  !*--color-contrast: 250 250 250; !* Backgrounds, borders, etc. *!*!*/
/*  !*--color-error: 204 0 0; !* Labels like "Error" / red *!*!*/
/*  !*--color-notice: 191 72 0; !* brown  *!*!*/
/*  !*--color-accent: 106 96 84; !* green/grey  *!*!*/
/*}*/

/*[data-dark-mode='true'] {*/
/*  --color-primary: 250 250 250;*/
/*  --color-contrast: 32 33 36;*/
/*  --color-accent: 235 86 40;*/
/*}*/

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply antialiased;
  }

  html {
    scroll-padding-top: 10rem;
    @apply text-[12px] lg:text-[14px];
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans mb-2 max-w-full;
    }
    @apply prose mx-auto grid justify-center;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start overflow-x-scroll px-6 pb-4 gap-x-3 md:gap-x-6 xl:gap-x-8;
  }
}
@tailwind utilities;
@layer utilities {
  .nav-offset {
    padding-top: var(--height-nav);
  }
  .z-60 {
    z-index: 60;
  }
  .z-100 {
    z-index: 100;
  }
  .gutter {
    @apply px-4 md:px-6 lg:px-8 xl:px-10;
  }
  .gutter-lg {
    @apply px-4 md:px-6 lg:px-10 xl:px-12;
  }
  .gutter-y {
    @apply py-4 md:py-6 lg:py-8 xl:py-10;
  }
  .gutter-lg-y {
    @apply py-4 md:py-6 lg:py-10 xl:py-12;
  }
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    display: inline-block;
    opacity: 0.5;
    &:before {
      content: '';
      display: block;
      width: 100%;
      color: gray;
      height: 15px;
      background-size: contain;
      background-image: url('./icons/strikethrough-long.png');
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      top: -2px;
      transform: translate(-50%, 25%);
      z-index: 1;
    }
    &.small:before {
      content: '';
      display: block;
      width: clamp(100%, 15px, 25px);
      height: 15px;
      background-size: contain;
      background-image: url('./icons/strikethrough-short.png');
      position: absolute;
      left: 50%;
      top: -2px;
      transform: translate(-50%, 18%);
      z-index: 1;
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
  .animated-underline {
    position: relative;
    &.red::after {
      @apply bg-destructive;
    }
    @apply pb-1;
  }
  .animated-underline:hover::after {
    left: 0;
    right: auto;
    width: 100%;
  }
  .animated-underline::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: 0;
    background: #2e2e2e;
    height: 1px;
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  }
  .underline {
    @apply underline-offset-4;
  }
}

.size-chart {
  table {
    @apply w-full table-fixed;
  }
  tr {
    @apply border-t;
  }
  td,
  th {
    font-weight: normal;
    text-align: left;
    min-height: 41px;
    padding: 10px 0 8px;
  }
}
.desktop-nav {
  z-index: -1;
  transition: all 0.5s;
  padding-top: var(--height-nav);
  transform: translateY(-120%);
  max-height: 0;
  height: auto;
  overflow: hidden;
  .mega-menu {
    transition: all 0.2s;
    opacity: 0;
  }
  & > form {
    opacity: 0;
    transition: all 0.2s;
    transition-delay: 0s;
  }
  &.opened {
    transform: translateY(0);
    max-height: 600px;

    .mega-menu {
      transition: initial;
      opacity: 1;
    }

    & > form {
      transition-delay: 0.3s;
      opacity: 1;
    }
  }
}
.sub-menu {
  .desktop-nav {
    max-width: 420px;
    min-height: 430px;
  }
}

ul[role='listbox'] {
  @apply overflow-auto;
}

@layer components {
  button > p.mb-4 {
    @apply mb-0;
  }

  .timer {
    &.timer-large {
      h3,
      .separator {
        .ticker {
          @apply w-[76px] md:w-[100px] inline-block text-center lg:text-[3rem] lg:w-[60px] xl:text-[3.9rem] xl:w-[88px];
        }

        @apply text-oversize lg:text-[3rem] xl:text-[3.9rem];
      }
    }
  }
  .rte {
    @apply max-w-full;
    & > * {
      @apply mb-4;
    }
  }
  .size-chart table {
    @apply w-full table-auto;
    th {
      @apply font-medium;
    }
    td {
      @apply pt-3 pb-3 pr-3;
    }
    tr {
      @apply border-t-0 border-b;
    }
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
